@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@font-face {
  font-family: "_Akrobat";
  src: url("../fonts/Akrobat-ExtraBold.eot");
  src: url("../fonts/Akrobat-ExtraBold.woff2") format("woff2"), url("../fonts/Akrobat-ExtraBold.woff") format("woff"), url("../fonts/Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  cursor: default;
}

body {
  line-height: 1;
  font-family: "_Akrobat", sans-serif;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "_Akrobat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  position: relative;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px;
}

.subtitle {
  font-weight: 900;
  line-height: 130%;
  font-size: 40px;
  color: white;
}
@media (max-width: 1520px) {
  .subtitle {
    font-size: calc(
            24px + 16 *
                ((100vw - 320px) / 1200)
        );
  }
}
.subtitle span {
  color: #fecc01;
}

.btn {
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
  padding: 20px 40px;
  background-color: #fecc01;
  border-radius: 5px;
}
@media (max-width: 1520px) {
  .btn {
    font-size: calc(
            16px + 8 *
                ((100vw - 320px) / 1200)
        );
  }
}
.btn.img::before {
  content: url("../img/icon-7.svg");
  margin-right: 10px;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  display: inline-block;
}
@media (max-width: 480px) {
  .btn.img::before {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media (max-width: 480px) {
  .btn.img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .btn {
    padding: 20px 20px;
  }
}

.text {
  font-weight: 900;
  line-height: 130%;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: white;
}
@media (max-width: 1520px) {
  .text {
    font-size: calc(
            14px + 10 *
                ((100vw - 320px) / 1200)
        );
  }
}

.title {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  color: #333;
  font-size: 96px;
}
@media (max-width: 1520px) {
  .title {
    font-size: calc(
            32px + 64 *
                ((100vw - 320px) / 1200)
        );
  }
}
.title span {
  color: #fecc01;
}

.sub-title {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  font-size: 64px;
  font-size: 64px;
}
@media (max-width: 1520px) {
  .sub-title {
    font-size: calc(
            32px + 32 *
                ((100vw - 320px) / 1200)
        );
  }
}
.sub-title span {
  color: #f04438;
}

.small-text {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 130%;
  color: #333;
}
@media (max-width: 1520px) {
  .small-text {
    font-size: calc(
            14px + 6 *
                ((100vw - 320px) / 1200)
        );
  }
}

.intro {
  padding-top: 163px;
  padding-bottom: 162px;
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1520px) {
  .intro {
    padding-top: calc(
                22px + 141 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 480px) {
  .intro {
    padding-bottom: 419px;
    background-image: url("../img/bg-10.jpg");
    background-position: inherit;
  }
  .intro:after {
    content: url("../img/bg-11.png");
    position: absolute;
    bottom: -310px;
    left: -70px;
  }
}
.intro-block {
  max-width: 1148px;
  margin-left: auto;
  padding: 60px;
  background: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}
@media (max-width: 480px) {
  .intro-block {
    padding: 20px;
  }
}
.intro-block h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 40px;
}
@media (max-width: 1520px) {
  .intro-block h1 {
    font-size: calc(
            24px + 40 *
                ((100vw - 320px) / 1200)
        );
  }
}
@media (max-width: 480px) {
  .intro-block h1 {
    margin-bottom: 20px;
  }
}
.intro-block h1 span {
  color: #fecc01;
}
.intro-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-flex img {
  display: block;
  margin-top: 4px;
  margin-bottom: 16px;
}
@media (max-width: 480px) {
  .intro-flex img {
    width: 105px;
  }
}
.intro-flex > div:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 440px;
          flex: 1 1 440px;
}
@media (max-width: 1024px) {
  .intro-flex > div:last-child {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
@media (max-width: 1024px) {
  .intro-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (max-width: 480px) {
  .intro-flex {
    gap: 20px;
  }
}

.step-1 {
  padding-bottom: 120px;
  padding-top: 120px;
  min-height: 1144px;
  background-image: url("../img/bg-2.jpg");
  background-size: cover;
}
@media (max-width: 1520px) {
  .step-1 {
    padding-top: calc(
                60px + 60 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 1670px) {
  .step-1 {
    background-size: auto;
    background-position: top right;
  }
}
@media (max-width: 1520px) {
  .step-1 {
    background-position: top center;
  }
}
@media (max-width: 480px) {
  .step-1 {
    padding-bottom: 460px;
    background-image: url("../img/bg-12.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: auto;
  }
}
@media (max-width: 420px) {
  .step-1 {
    padding-bottom: 400px;
  }
}
@media (max-width: 360px) {
  .step-1 {
    padding-bottom: 372px;
  }
}
.step-1__title {
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .step-1__title {
    margin-bottom: 20px;
    max-width: 370px;
  }
}
.step-1__small-text {
  max-width: 982px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .step-1__small-text {
    gap: 20px;
    margin-bottom: 20px;
  }
}
.step-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.step-1 ul li {
  font-weight: 900;
  text-transform: uppercase;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 480px) {
  .step-1 ul li {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .step-1 ul li img {
    width: 62px;
    height: 62px;
  }
}

.step-2 {
  padding-top: 180px;
  padding-bottom: 128px;
  background-color: #171717;
  background-image: url("../img/bg-3.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1520px) {
  .step-2 {
    padding-top: calc(
                60px + 120 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 1520px) {
  .step-2 {
    padding-bottom: calc(
                60px + 68 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 480px) {
  .step-2 {
    min-height: auto;
    background-image: url("../img/bg-13.png");
    background-repeat: no-repeat;
    background-position: top;
  }
}
.step-2__title {
  color: white;
  margin-bottom: 40px;
}
.step-2__title span {
  color: #f04438;
}
@media (max-width: 480px) {
  .step-2__title {
    margin-bottom: 20px;
  }
}
.step-2__text {
  max-width: 1126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 180px;
}
@media (max-width: 1520px) {
  .step-2__text {
    margin-bottom: calc(
                60px + 120 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 480px) {
  .step-2__text {
    gap: 20px;
  }
}
.step-2 ul {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .step-2 ul {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .step-2 ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .step-2 ul {
    margin-top: 20px;
  }
}
.step-2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  max-width: 420px;
}
@media (max-width: 1520px) {
  .step-2 ul li {
    font-size: calc(
            16px + 8 *
                ((100vw - 320px) / 1200)
        );
  }
}
.step-2 ul li span {
  color: #f04438;
}
@media (max-width: 768px) {
  .step-2 ul li {
    max-width: none;
  }
}
@media (max-width: 480px) {
  .step-2 ul li img {
    width: 62px;
    height: 62px;
  }
}
.step-2 ul button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 480px) {
  .step-2 ul button {
    width: 100%;
  }
}

.step-3 {
  min-height: 939px;
  background-image: url("../img/bg-4.png");
  background-size: cover;
  background-position: center;
  padding-top: 388px;
  padding-bottom: 20px;
}
@media (max-width: 1260px) {
  .step-3 {
    padding-top: 588px;
    padding-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .step-3 {
    padding-top: 388px;
    min-height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("../img/bg-18.png");
  }
}
.step-3__sub-title {
  color: #333;
  margin-bottom: 40px;
}
.step-3__sub-title span {
  color: #fecc01;
}
.step-3-text {
  max-width: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
.step-3__text {
  color: #333333;
}

.step-4 {
  padding-top: 118px;
  padding-bottom: 120px;
  background-color: #171717;
  background-image: url("../img/bg-5.png");
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 1520px) {
  .step-4 {
    padding-top: calc(
                60px + 58 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 1520px) {
  .step-4 {
    padding-bottom: calc(
                60px + 60 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 480px) {
  .step-4 {
    min-height: auto;
    background-image: url("../img/bg-19.png");
    background-repeat: no-repeat;
  }
}
.step-4__title {
  color: white;
  margin-bottom: 88px;
}
@media (max-width: 480px) {
  .step-4__title {
    margin-bottom: 40px;
  }
}
.step-4-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 82px;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .step-4-flex {
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .step-4-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
}
.step-4-flex p {
  position: relative;
  z-index: 1;
}
.step-4-flex p:first-child::before {
  content: url("../img/img-2.png");
  position: absolute;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
  z-index: -1;
}
@media (max-width: 480px) {
  .step-4-flex p:first-child::before {
    content: url("../img/img-5.png");
    -webkit-transform: translateY(-40%) translateX(80px);
        -ms-transform: translateY(-40%) translateX(80px);
            transform: translateY(-40%) translateX(80px);
  }
}
.step-4-flex p:last-child::before {
  content: url("../img/img-3.png");
  position: absolute;
  -webkit-transform: translateY(-55%) translateX(100px);
      -ms-transform: translateY(-55%) translateX(100px);
          transform: translateY(-55%) translateX(100px);
  z-index: -1;
}
@media (max-width: 1024px) {
  .step-4-flex p:last-child::before {
    -webkit-transform: translateY(-55%) translateX(-70px);
        -ms-transform: translateY(-55%) translateX(-70px);
            transform: translateY(-55%) translateX(-70px);
  }
}
@media (max-width: 480px) {
  .step-4-flex p:last-child::before {
    content: url("../img/img-6.png");
    -webkit-transform: translateY(-50%) translateX(100px);
        -ms-transform: translateY(-50%) translateX(100px);
            transform: translateY(-50%) translateX(100px);
  }
}
.step-4__text {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  font-size: 32px;
  color: white;
}
@media (max-width: 1520px) {
  .step-4__text {
    font-size: calc(
            16px + 16 *
                ((100vw - 320px) / 1200)
        );
  }
}
.step-4__small-text, .step-4__text {
  position: relative;
  z-index: 1;
}
.step-4__small-text span, .step-4__text span {
  color: #f04438;
}
.step-4__small-text b, .step-4__text b {
  color: #fecc01;
  font-weight: 900;
}
.step-4__small-text i, .step-4__text i {
  color: #8ac44b;
  font-style: normal;
}
.step-4__subtitle {
  margin-top: 60px;
  margin-bottom: 4px;
}
@media (max-width: 480px) {
  .step-4__subtitle {
    margin-top: 40px;
  }
}
.step-4__btn {
  display: block;
  margin-top: 16px;
}
@media (max-width: 480px) {
  .step-4 img {
    width: 105px;
  }
}

.step-5 {
  padding-top: 118px;
  padding-bottom: 120px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1520px) {
  .step-5 {
    padding-top: calc(
                60px + 58 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 1520px) {
  .step-5 {
    padding-bottom: calc(
                60px + 60 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 480px) {
  .step-5::before {
    content: url("../img/bg-17.png");
    position: absolute;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    top: 20px;
  }
}
.step-5__title {
  margin-bottom: 69px;
}
.step-5__title span {
  color: #f04438;
}
@media (max-width: 480px) {
  .step-5__title {
    margin-bottom: 40px;
  }
}
.step-5 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
  max-width: 700px;
}
@media (max-width: 1520px) {
  .step-5 ul li {
    font-size: calc(
            16px + 8 *
                ((100vw - 320px) / 1200)
        );
  }
}
@media (max-width: 480px) {
  .step-5 ul li {
    gap: 10px;
  }
  .step-5 ul li img {
    width: 62px;
    height: 62px;
  }
}
.step-5-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.step-5-flex > div {
  position: relative;
}
.step-5-flex > div:before {
  content: url("../img/img-4.png");
  position: absolute;
  -webkit-transform: translateY(-430px) translateX(-240px);
      -ms-transform: translateY(-430px) translateX(-240px);
          transform: translateY(-430px) translateX(-240px);
}
@media (max-width: 480px) {
  .step-5-flex > div img {
    width: 105px;
  }
  .step-5-flex > div:before {
    display: none;
  }
}
@media (max-width: 768px) {
  .step-5-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.step-5__btn {
  display: block;
  margin-top: 16px;
  position: relative;
  z-index: 1;
}

.step-6 {
  padding-bottom: 138px;
  padding-top: 120px;
  background-image: url("../img/bg-6.png");
  background-size: cover;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1520px) {
  .step-6 {
    padding-top: calc(
                20px + 100 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 480px) {
  .step-6 {
    padding-bottom: 206px;
    background-image: url("../img/bg-15.png");
  }
}
.step-6-block {
  background: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  padding: 60px;
  max-width: 1148px;
  margin-left: auto;
}
@media (max-width: 480px) {
  .step-6-block {
    padding: 20px;
  }
  .step-6-block img {
    width: 105px;
  }
}
@media (max-width: 460px) {
  .step-6-block:after {
    content: url("../img/bg-16.png");
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    bottom: -210px;
  }
}
@media (max-width: 360px) {
  .step-6-block:after {
    left: -20px;
  }
}
.step-6__title {
  color: white;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .step-6__title {
    margin-bottom: 20px;
  }
}
.step-6__btn {
  display: block;
  margin-top: 16px;
  position: relative;
  z-index: 3;
}
.step-6__text {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1520px) {
  .step-6__text {
    font-size: calc(
            16px + 8 *
                ((100vw - 320px) / 1200)
        );
  }
}
.step-6__text span {
  color: #fecc01;
}
@media (max-width: 480px) {
  .step-6__text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.step-7 {
  padding-top: 118px;
  padding-bottom: 120px;
}
@media (max-width: 1520px) {
  .step-7 {
    padding-top: calc(
                60px + 58 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 1520px) {
  .step-7 {
    padding-bottom: calc(
                60px + 60 *
                    ((100vw - 320px) / 1200)
            );
  }
}
.step-7__title {
  margin-bottom: 60px;
  font-size: 90px;
}
@media (max-width: 1520px) {
  .step-7__title {
    font-size: calc(
            32px + 58 *
                ((100vw - 320px) / 1200)
        );
  }
}
@media (max-width: 480px) {
  .step-7__title {
    margin-bottom: 40px;
  }
}
.step-7-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 40px;
}
.step-7-grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 480px) {
  .step-7-grid > div {
    gap: 10px;
  }
}
.step-7-grid > div.spn-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
@media (max-width: 768px) {
  .step-7-grid > div.spn-2 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
}
@media (max-width: 480px) {
  .step-7-grid > div img {
    width: 62px;
    height: 62px;
  }
}
@media (max-width: 1024px) {
  .step-7-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .step-7-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .step-7-grid {
    row-gap: 20px;
  }
}
.step-7-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.step-7-flex span {
  color: #333;
  font-size: 24px;
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
}
@media (max-width: 1520px) {
  .step-7-flex span {
    font-size: calc(
            16px + 8 *
                ((100vw - 320px) / 1200)
        );
  }
}
.step-7-flex span b {
  color: #fecc01;
}
.step-7__btn {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
}
@media (max-width: 480px) {
  .step-7__btn {
    margin-left: 0;
  }
}
.step-7__subtitle {
  color: #333333;
  margin-top: 40px;
  margin-bottom: 4px;
  text-align: center;
}
@media (max-width: 480px) {
  .step-7__subtitle {
    text-align: left;
  }
}
.step-7__img {
  margin: 0 auto;
  display: block;
  -webkit-transform: translateX(-150px);
      -ms-transform: translateX(-150px);
          transform: translateX(-150px);
}
@media (max-width: 768px) {
  .step-7__img {
    -webkit-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
            transform: translateX(-90px);
  }
}
@media (max-width: 480px) {
  .step-7__img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: 0;
    width: 105px;
  }
}

.step-8 {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f6f7;
  background-image: url("../img/bg-7.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}
@media (max-width: 1520px) {
  .step-8 {
    padding-top: calc(
                60px + 60 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 1400px) {
  .step-8 {
    background-image: none;
  }
}
@media (max-width: 480px) {
  .step-8 {
    padding-bottom: 312px;
    background-image: url("../img/bg-14.png");
    background-position: right bottom;
  }
}
.step-8-block {
  max-width: 903px;
  margin-left: auto;
}
@media (max-width: 1400px) {
  .step-8-block {
    max-width: none;
  }
}
.step-8-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}
.step-8-text p {
  color: #333;
}
@media (max-width: 480px) {
  .step-8-text {
    margin-top: 20px;
    gap: 20px;
  }
}
.step-8 h3 {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  color: #333;
  font-size: 24px;
  margin-top: 40px;
}
@media (max-width: 1520px) {
  .step-8 h3 {
    font-size: calc(
            16px + 8 *
                ((100vw - 320px) / 1200)
        );
  }
}
.step-8 h3 span {
  color: #fecc01;
}
@media (max-width: 480px) {
  .step-8 h3 {
    margin-top: 20px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup-body {
  height: 100%;
}
.popup-content {
  max-width: 1114px;
  margin: 0 auto;
  -webkit-transform: translateY(50vh) translateY(-50%);
      -ms-transform: translateY(50vh) translateY(-50%);
          transform: translateY(50vh) translateY(-50%);
  padding: 80px 0;
}
@media (max-height: 760px) {
  .popup-content {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.popup-content h2 {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  color: #fecc01;
  text-align: center;
  font-size: 48px;
}
@media (max-width: 1520px) {
  .popup-content h2 {
    font-size: calc(
            28px + 20 *
                ((100vw - 320px) / 1200)
        );
  }
}
.popup-content h3 {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}
@media (max-width: 1520px) {
  .popup-content h3 {
    font-size: calc(
            24px + 12 *
                ((100vw - 320px) / 1200)
        );
  }
}
.popup-content form {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 615px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .popup-content form {
    margin-top: 30px;
  }
}
.popup-content form input {
  height: 64px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.popup-content form input::-webkit-input-placeholder {
  font-weight: 600;
  line-height: 100%;
  font-size: 18px;
  color: var(--40, rgba(0, 0, 0, 0.4));
  font-family: "Lato", sans-serif;
}
.popup-content form input::-moz-placeholder {
  font-weight: 600;
  line-height: 100%;
  font-size: 18px;
  color: var(--40, rgba(0, 0, 0, 0.4));
  font-family: "Lato", sans-serif;
}
.popup-content form input:-ms-input-placeholder {
  font-weight: 600;
  line-height: 100%;
  font-size: 18px;
  color: var(--40, rgba(0, 0, 0, 0.4));
  font-family: "Lato", sans-serif;
}
.popup-content form input::-ms-input-placeholder {
  font-weight: 600;
  line-height: 100%;
  font-size: 18px;
  color: var(--40, rgba(0, 0, 0, 0.4));
  font-family: "Lato", sans-serif;
}
.popup-content form input,
.popup-content form input::placeholder {
  font-weight: 600;
  line-height: 100%;
  font-size: 18px;
  color: var(--40, rgba(0, 0, 0, 0.4));
  font-family: "Lato", sans-serif;
}
.popup-content form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0 auto;
}
@media (max-width: 480px) {
  .popup-content form button {
    margin: 20px auto 0 auto;
  }
}
.popup-bonus {
  padding: 15px 20px;
  max-width: 762px;
  margin: 0 auto;
  background-color: white;
  margin-top: 40px;
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  font-size: 32px;
}
@media (max-width: 1520px) {
  .popup-bonus {
    font-size: calc(
            22px + 10 *
                ((100vw - 320px) / 1200)
        );
  }
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.popup__close svg {
  width: 40px;
  height: 40px;
}

.video {
  width: 130px;
  height: 180px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
  border: 2px solid #e4c69c;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.video:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.video:hover .video__close {
  display: block;
}
.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video.active {
  width: 230px;
  height: 380px;
}
.video.active .video__close {
  display: none;
}
.video.active .video__close-2 {
  display: block;
}
.video.active button {
  display: block;
}
.video button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.video__close, .video__close-2 {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  z-index: 250;
  opacity: 0.6;
}
.video__close:before, .video__close-2:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.video__close:after, .video__close-2:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.video__close:before, .video__close:after, .video__close-2:before, .video__close-2:after {
  position: absolute;
  left: 9px;
  top: 1px;
  content: "";
  height: 18px;
  width: 2px;
  background: #00102e;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
          box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}
.video__close {
  display: none;
}
.video__close-2 {
  display: none;
}
.video__close-2:before {
  display: none;
}
.video__close-2:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer {
  background-color: #171717;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 120px;
}
@media (max-width: 1520px) {
  .footer {
    padding-top: calc(
                60px + 52 *
                    ((100vw - 320px) / 1200)
            );
  }
}
@media (max-width: 1520px) {
  .footer {
    padding-bottom: calc(
                60px + 60 *
                    ((100vw - 320px) / 1200)
            );
  }
}
.footer__sub-title {
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
}
@media (max-width: 1520px) {
  .footer__sub-title {
    font-size: calc(
            20px + 20 *
                ((100vw - 320px) / 1200)
        );
  }
}
.footer__sub-title span {
  color: #fecc01;
}
.footer img {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 4px;
  -webkit-transform: translateX(-150px);
      -ms-transform: translateX(-150px);
          transform: translateX(-150px);
}
@media (max-width: 768px) {
  .footer img {
    -webkit-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
            transform: translateX(-90px);
  }
}
@media (max-width: 480px) {
  .footer img {
    -webkit-transform: translateX(-80px);
        -ms-transform: translateX(-80px);
            transform: translateX(-80px);
    width: 105px;
  }
}
.footer__text {
  max-width: 1056px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 71px;
}
.footer__text span {
  color: #fecc01;
}
.footer__text i {
  font-style: normal;
  color: #f04438;
}
@media (max-width: 480px) {
  .footer__text {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
.footer button {
  margin: 0 auto;
}

.pdf {
  padding-top: 120px;
  padding-bottom: 150px;
  position: relative;
}
@media (max-width: 480px) {
  .pdf {
    padding-top: 50px;
    padding-bottom: 195px;
  }
}
.pdf::after {
  content: url("../img/bg-8.png");
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1330px) {
  .pdf::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .pdf::after {
    display: block;
    content: url("../img/bg-9.png");
  }
}
.pdf-wrapper {
  background-color: #171717;
}
.pdf__title {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .pdf__title {
    margin-bottom: 20px;
    text-align: left;
  }
}
.pdf__text {
  max-width: 982px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .pdf__text {
    text-align: left;
  }
}
.pdf__subtitle {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .pdf__subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
}
.pdf-flex {
  max-width: 982px;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .pdf-flex {
    text-align: left;
  }
}
.pdf-grid {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 616px 616px;
  grid-template-columns: 616px 616px;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
  position: relative;
}
@media (max-width: 1380px) {
  .pdf-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 670px) {
  .pdf-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .pdf-grid {
    margin-bottom: 40px;
    z-index: 1;
  }
}
.pdf-grid > div {
  background: #1d1e21;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 30px;
}
@media (max-width: 480px) {
  .pdf-grid > div {
    padding: 20px;
    gap: 15px;
  }
}
.pdf-grid > div:first-child ul li:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pdf-grid > div:first-child ul li:nth-child(5) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 480px) {
  .pdf-grid > div button {
    width: 100%;
  }
}
.pdf-grid ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 480px) {
  .pdf-grid ul {
    gap: 15px;
  }
}
.pdf-grid ul li {
  color: white;
  position: relative;
  padding-left: 34px;
}
.pdf-grid ul li img {
  position: absolute;
  left: 0;
}
@media (max-width: 480px) {
  .pdf-grid ul li img {
    width: 18px;
    height: 18px;
  }
}
.pdf-grid ul li span {
  font-weight: 900;
  line-height: 110%;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "_Akrobat", sans-serif;
  display: block;
  margin-bottom: 13px;
}
@media (max-width: 480px) {
  .pdf-grid ul li span {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.pdf-grid ul li span b {
  color: #fecc01;
}
.pdf-block {
  max-width: 1252px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  z-index: 1;
}
.pdf-block h2 {
  color: #fecc01;
}
@media (max-width: 480px) {
  .pdf-block {
    gap: 20px;
  }
}
.pdf-text {
  max-width: 775px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.pdf-text p a {
  color: #fecc01;
}