.step-4 {
    padding-top: 120px;
    padding-bottom: 118px;
    min-height: 879px;
    background-color: #171717;
    background-image: url('../img/bg-5.png');
    background-size: cover;
    &__title {
        color: white;
        margin-bottom: 88px;
    }
    &-flex {
        display: flex;
        gap: 82px;
        margin-bottom: 60px;
        p {
            position: relative;
            z-index: 1;
            &:first-child {
                &::before {
                    content: url('../img/img-2.png');
                    position: absolute;
                    transform: translateY(-30%);
                    z-index: -1;
                }
            }
            &:last-child {
                &::before {
                    content: url('../img/img-3.png');
                    position: absolute;
                    transform: translateY(-55%) translateX(100px);
                    z-index: -1;
                }
            }
        }
    }
    &__text {
        font-weight: 900;
        line-height: 130%;
        text-transform: uppercase;
        font-size: 32px;
        color: white;
    }
    &__small-text,
    &__text {
        position: relative;
        z-index: 1;
        span {
            color: #f04438;
        }
        b {
            color: #fecc01;
            font-weight: 900;
        }
        i {
            color: #8ac44b;
            font-style: normal;
        }
    }
    &__subtitle {
        margin-top: 60px;
        margin-bottom: 4px;
    }
    &__btn {
        display: block;
        margin-top: 16px;
    }
}
